<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
	<display-name>gestion_materiel_v1</display-name>
	<display-name>gestion_materiel_v1</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>Superviseur</servlet-name>
		<jsp-file>/utilisateur_views/user_main.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Superviseur</servlet-name>
		<url-pattern>/Superviseur</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Magasinier</servlet-name>
		<url-pattern>/Magasinier</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Magasinier</servlet-name>
		<jsp-file>/Mag_views/mag_main.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Professeur</servlet-name>
		<url-pattern>/Professeur</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Professeur</servlet-name>
		<jsp-file>/prof_views/prof_main.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Technicien</servlet-name>
		<url-pattern>/Technicien</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Technicien</servlet-name>
		<jsp-file>/tech_views/tech_main.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Comptable</servlet-name>
		<url-pattern>/Comptable</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Comptable</servlet-name>
		<jsp-file>/Comp_views/comp_main.jsp</jsp-file>
	</servlet>

</web-app>